.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: 400px;
  grid-row-gap: 400px;
  gap: 40px;
}
.container img {
  width: 400px;
  height: 400px;
}

img:hover {
  opacity: 1;
  transform: rotate(-30deg);
}
